body {
  background-color: #e6e6e6;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .root {
    background-color: #f9f9f9;
    text-align: center;
    position: absolute;
    min-height: 100%;
    min-width: 100%;

    @mixin flexRowCenter {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @mixin filterPosition {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
    }


    .headerContainer{
      padding: 0;
      position: sticky;
      top: 0;
    }

    .loadingBar {
      background-color: red; 
      height: 3px; 
      position: inherit;
    }

    .headerDesktop {
      background-color: white;
      @include flexRowCenter;
      padding: 1vw 19vw;
      position: inherit;

      .logo {
        width: 10em;
        padding: 0 0 0 2%;
      }

      .search {
        @include flexRowCenter;
        align-items: normal;
        margin-left: 14%;
        width: 100%;
      }

      input {
        font: inherit;
        padding: 0.5rem;
        border-radius: 8px 0 0 8px;
        border: 1px solid #ccc;
        width: 100%;
        max-width: 100%;
        &:focus {
          outline: none;
          border-color: #36a5ff;
          background-color: #f5f5f5;
        }
        
      }

      button {
        background-color: #f9f9f9;
        padding: 0px 20px;
        border-radius: 0 8px 8px 0;
        border-color: #ccc;
        &:hover, &:active {
          background-color: #e7e7e7;
          border-color: #707070;
        }
        &:disabled,
        &:disabled:hover,
        &:disabled:active {
          background-color: #ccc;
          color: rgb(104, 103, 103);
          border-color: #ccc;
          cursor: not-allowed;
        }
      }
    }

    .headerMobile {
      background-color: red;
      @include flexRowCenter;
      padding: 1em 0;

      .logo {
        width: 4em;
        padding: 0 0 0 2%;
      }

      .search {
        @include flexRowCenter;
        align-items: normal;
        margin: 0 6%;
        width: 100%;
      }

      input {
        font: inherit;
        padding: 0.5rem;
        border-radius: 8px 0 0 8px;
        border: 1px solid #ccc;
        width: 100%;
        max-width: 100%;
        &:focus {
          outline: none;
          border-color: #36a5ff;
          background-color: #f5f5f5;
        }
      }
      
      button {
        background-color: red;
        padding: 0px 20px;
        border-radius: 0 8px 8px 0;
        border: #e30000 2px solid;
        color: white;
        font-size: 18px;

        &:hover, &:active {
          background-color: #d10000;
          border-color: #bb0f0f;
        }
        &:disabled,
        &:disabled:hover,
        &:disabled:active {
          background-color: #ccc;
          color: rgb(104, 103, 103);
          border-color: #ccc;
          cursor: not-allowed;
        }
      }
    } 
    

    .containerDesktop {
      padding: 1% 20%;


      .card {
        @include flexRowCenter;
        margin: 1rem 0;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #666666;
      }

      .error {
        @include flexRowCenter;
        flex-direction: column;
        font-size: 16px;
        color: red;
        font-weight: bold;
      }

    }
    
    .containerMobile {
      padding: 1%;


      .card {
        @include flexRowCenter;
        margin: 1rem 0;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #666666;
      }

      .error {
        @include flexRowCenter;
        flex-direction: column;
        font-size: 16px;
        color: red;
        font-weight: bold;
      }

    } 

    .filterDesktop {
      color: gray;
      font-weight: 500;
      @include filterPosition;

      button {
        background-color: #f9f9f9;
        padding: 0px 20px;
        font-size: 18px;
        color: gray;
        border: 0;

        &:hover, &:active {
          background-color: #e7e7e7;
        }
        &:disabled,
        &:disabled:hover,
        &:disabled:active {
          background-color: #ccc;
          color: rgb(104, 103, 103);
          cursor: not-allowed;
        }
      }
    }

    .filterMobile {
      color: gray;
      @include filterPosition;
      justify-content: flex-start;

      select {
        font: inherit;
        padding: 0.5em;
        margin: 0 0.5em;
        border-radius: 8px;
        border: 1px solid #ccc;
        width: 8rem;
        max-width: 100%;
        background-color: #edebeb;

        &:focus {
          outline: none;
          border-color: #36a5ff;
          background-color: #f5f5f5;
        }
      }
    }

    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    

  }
}



